## For Loop

for item in items:
    do something

In [1]:
fruits = ["apple" , "banana" ,"cherry"]

In [3]:
for i in fruits:
    print(f"fruit {i}")

print("complete")

fruit apple
fruit banana
fruit cherry
complete

In [4]:
for ch in "hello":
    print(ch)

h
e
l
l
o

### range

In [5]:

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(10,100,5))

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [9]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [23]:
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

## nested for loop

In [24]:
adj = ['red' ,'big' , 'tasty']
fruits = ["apple" , "banana" ,"cherry"]

In [25]:
for a in adj:
    for f in fruits:
        print(a,f)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

multiply argument in loop

In [3]:
person = {
    "name" : "ram",
    "age" : 30,
    "gender" : "male"
}
person_list = list(person.items())
person_list

[('name', 'ram'), ('age', 30), ('gender', 'male')]

In [6]:
for each in person_list : 
    print(each)

('name', 'ram')
('age', 30)
('gender', 'male')

In [8]:
for (key,value) in person_list :
    print(f"key : {key} ={value}")

key : name =ram
key : age =30
key : gender =male

In [10]:
cord = [[1,2,3],[4,5,6],[7,8,9]]
cord

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
for a in cord:
    print(a)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [23]:
number = int(input("enter a number"))
for i in range(1,10):
    print(f"{number}x{i}","=",number*i)

enter a number 6

6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54

In [21]:
num= int(input("Enter any number "))

for i in range(1,11,1):
    print(f"{num} * {i} = {i*num} ")

Enter any number  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [36]:
numbers = [2,5,3,6,7,33,5,8,68,0,12,4,6,66,9,101,55,32,89] 
odd = []
even = []
for i in numbers:
    if i% 2 == 0:
        even.append(i)
        
    else :
        odd.append(i)

print(odd)
print(even)

[5, 3, 7, 33, 5, 9, 101, 55, 89]
[2, 6, 8, 68, 0, 12, 4, 6, 66, 32]

 single line if else

<true expression> if condition else <false expression>
 even_num.append(i) if i % 2 == 0 else odd_num.append(i)