# object oriented programming

## class and objects

class syntax
``` python
class ClassName : 
        def methods:

In [7]:
class Calculator :
    def __init__(self , num1 ,num2):
        self.num1 = num1
        self.num2 = num2

    def sum(self):
        return self.num1 + self.num2

    def sub(self) :
        return self.num1 - self.num2
        
    def mul(self):
        return self.num1 * self.num2

In [2]:
#oobject is cal_obj
cal_obj = Calculator(10,4)

In [4]:
type(cal_obj)

__main__.Calculator

In [5]:
cal_obj.sum()

14

In [6]:
cal_obj2 = Calculator(22,9)
cal_obj2.sum()

31


## attribute
### class attribute
### object attribute


## methods

### instance method
### class method
### static method

In [20]:
class Person:
    count = 0  # class attribute

    def __init__(self, name: str, address: str = "kathmandu"): # constructor
        self.name = name
        self.address = address
        Person.count += 1

    def get_details(self):  # instance method
        print(f"I am {self.name} from {self.address}")

    @classmethod # classmethod
    def get_count(cls):
        return cls.count

    @staticmethod
    def create_fullname(firstname, lastname):
        return f"{lastname}, {firstname}"

In [21]:
student1 = Person("sameer")

In [22]:
student2 = Person("reason"  , "ktm")

In [23]:
student1.get_details()

I am sameer from kathmandu

# library class with student and department

In [24]:
books = [
            ("The Alchemist", 25),
            ("The Da Vinci Code", 30),
            ("A Brief History of Time", 15),
            ("Angels & Demons", 0),
            ("The Grand Design", 0),
            ("1984", 19)
        ]

In [40]:
class Library:
    
    
    def __init__(self, name, depart="maths"):
        self.name = name
        self.depart = depart
        self.books =  [
            ("The Alchemist", 25),
            ("The Da Vinci Code", 30),
            ("A Brief History of Time", 15),
            ("Angels & Demons", 8),
            ("The Grand Design", 0),
            ("1984", 19)
        ]
        

    def can_borrow(self,book_name):
        book_name = book_name.lower()
        for name , amount in self.books :
            if name.lower () == book_name and amount > 0 :
                return f"Can borrow"

        return "cant borrow"

In [41]:
student1 = Library("ram" ,"cse")
student1.can_borrow("Angels & Demons")

'Can borrow'

In [74]:
class StudentResult :
    def __init__(self,name : str,marks:list) :
        self.name = name
        self.marks = marks
        self.subjects = len(self.marks)

    def total(self):
        return sum(self.marks)

    def average(self):
        return self.total()/self.subjects

    def display(self):
        print( f"{self.name} has {self.total()} and {self.average()}")

In [75]:
student1 = StudentResult("ram",[1,2,3,4,5,6])

In [76]:
student1.display()

ram has 21 and 3.5